.user-card{
  padding: 1em;
  border: 1px solid #f1f1f1;
  box-shadow: 0 4px 4px -2px #555;
  border-radius: 4px;
 
}
.user-card h3{
  margin-top: 0;
  text-align: center;
}

.user-card .card-body{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.user-card .card-text{
  padding: 0.5em;
}
.user-card .card-footer{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}