.userForm{
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.labelControl,
.inputControl{
  padding: .5em 1em;
}

.labelControl{
  cursor: pointer;
}

.inputControl{
  outline: none;
  border: 1px solid #555;
  border-radius: 4px;
}
.inputControl:focus{
  box-shadow: 0 0 2px 2px #ccc;
}

.submit{
  grid-column-start: 2;
  width: fit-content;
  display: block;
  margin-left: auto;
  background-color: green;
  color: white;
  padding: .5em 1em;
  border: none;
  cursor: pointer;

}
.submit:hover{
  background-color: hsl(120, 100%, 45%);
}